/.bundle/
/.yardoc
/Gemfile.lock
/_yardoc/
/coverage/
/pkg/
/spec/reports/
/tmp/
/fir-cli_tmp/
/test/projects
*.bundle
*.so
*.o
*.a
mkmf.log
.tags*
*.gem
Gemfile.lock
.DS_Store
/test/cases/*.png
/build_apk_example_*
/build_ipa_example_*
.byebug*

.idea/
lib/.byebug_history
TAGS
.vscode
fir-cli-answer.json
